*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
[class*="col-"] {
  background: pink;
  border: 1px solid black;
  height: 180px;
  text-align: center;
  line-height: 11;
}
.crimson{
  background-color: crimson;
}
a{
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
}
#row-img.row>.col-10{
  background-color: violet;
  height: 400px;
}
#row-img.row>.col-1{
  height: 400px;
}
